*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    padding: 10px;
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 60px;
}

.calculator h1 span{
    color: #ffff76;
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}

.input-box input{
    flex:1 ;
    margin-right: 20px;
    padding: 14px 20px;
    border:0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}


.input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding:15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result, #heart, #breath{
    font-size: 1.6rem;
    color: #fff;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

.main_box{
	width: 4em;
	height: 4em;
	position: relative;
}

#share_button{
	display: none;
}

span,a{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.try{
	color: #000;
	/* position:relative; */
	display: inline;
}

.sharebtn{
	width: 5rem;
	height: 5rem;
	top: 1.5rem;
	left: 3rem;
	transform: translate(-50%,-50%);
	
	color: #333;
	font-size: 1em;
	z-index: 1;
	cursor: pointer;
	border-radius: 100%;
	background-color: white;
}

.sm_list{
	width: 4em;
	height: 4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.sm_list a{
	width: 4em;
	height: 4em;
	border-radius: 50%;
	text-decoration: none;
	color: #fff;
	transition: all .3s;
	font-size: 1.5em;
}

#share_button:checked ~ .sm_list a:nth-child(1){
	background-color: #3B5998;
	transition-delay: 0.2s;
	transform: translateX(-6em);
}

#share_button:checked ~ .sm_list a:nth-child(2){
	background-color: #dd2553;
	transition-delay: 0.2s;
	transform: translateX(6em);
}

#share_button:checked ~ .sm_list a:nth-child(3){
	background-color: #000f94;
	transition-delay: 0.3s;
	transform: translateX(12em);
}

#share_button:checked ~ .sm_list a:nth-child(4){
	background-color: #1077ec;
	transition-delay: 0.3s;
	transform: translateX(-12em);
}

#share_button:checked ~ .sm_list a:nth-child(5){
	background-color: rgb(10, 63, 0);
	transition-delay: 0.4s;
	transform: translateX(18em);
}

#share_button:checked ~ .sm_list a:nth-child(6){
	background: linear-gradient(70deg,blue,green,red,yellow);
	transition-delay: 0.4s;
	transform: translateX(-18em);
}

/* Hovering Effects */
#share_button:checked ~ .sm_list a:nth-child(1):hover{
	background-color: #ffffff;
	color: #3B5998;
	/* transition-delay: 0.2s;
	transform: translateX(-6em); */
}

#share_button:checked ~ .sm_list a:nth-child(2):hover{
	color: #dd2553;
	background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(3):hover{
	color: #000f94;
	background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(4):hover{
	color: #1077ec;
	background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(5):hover{
	color: rgb(10, 63, 0);
	background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(6):hover{
	color: black;
	background-image: linear-gradient(90deg,white,grey);
}

span:visited{
	background-color: #000f94;
}
.main_box {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.cn{
	color : yellow;
	display: inline;
}




