*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    padding: 1rem;
}

.calculator{
    width: 100%;
    max-width: 40rem;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 4rem;
}

.calculator h1 span{
    color: #ffff76;
}

.input-box{
    margin: 4rem 0;
    padding: 3.5rem;
    border-radius: 1rem;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}

.input-box input{
    flex:1 ;
    margin-right: 2rem;
    padding: 1rem 2rem;
    border:0;
    outline: 0;
    font-size: 1rem;
    border-radius: 1rem;
    position: relative;
}


.input-box button{
    background: #ffff76;
  border: 0;
  outline: 0;
  padding: 20px 30px;
  border-radius: 6rem;
  font-weight: 600;
  color: #323;
  cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;   
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 2.5rem;
    cursor: pointer;
}

#result, #heart{
    font-size: 2rem;
    color: #fff;
}

span{
    color:#ffff76;
}
